
<h1>Who we are</h1>
<p>Nice to meet you! we are a tech-driven online 
    retailer located in Karnataka, India. 
    Since our beginnigs in 1999, Dhanya Furiture 
    evolved from a fledging stratup to a succesful online retailer
    as a result of a hard-working and creative team. we make
    online furniture shopping easy. We have a best styles at affordable
price range and quality furniture for your whole home.   </p>


    <h1>Founder</h1>
    <img src="https://tse2.mm.bing.net/th?id=OIP.TQgAqv5Cl98hkGaMvVQJRAAAAA&pid=Api&P=0&w=158&h=158" alt="">
    <h2>Raghunandan Saraf</h2>
    <div class="para">
    <p>Raghunandan Saraf is the Founder and CEO of 
        Dhanya Furniture, a leading online retailer 
        of bespoke solid Sheesham wood furniture 
        for commercial and residential sectors.
         Being the brains behind the venture, 
         he is deeply involved in all functions 
         across the company.
        
        However, Raghunandan’s major focus remains 
        on creating a unique, compelling and 
        distinguished online retail presence 
        and personality for Dhanya Furniture in
         order to make elegant, minimally-designed 
        furniture accessible to the masses at 
        value-driven price.</p>
    </div>
    
    



