<div class="container mt-5 mb-5">
    <h1>Fill in the details</h1>
    <form class="col-lg-5">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your first name">   
            </div>

            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your last name">   
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your email Id">   
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your mobile number">   
            </div>

            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your address">   
            </div>
        
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark" [routerLink]="['/home']" >Place order</button>
            </div>
        </div>
    </form>
</div>